@model AccpSem3.Models.ModeView.CadidateView
@{
    ViewBag.Title = "PageSendCv";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<AccpSem3.Models.ModeView.VacanciesView> ls = new List<AccpSem3.Models.ModeView.VacanciesView>();
    if (ViewBag.Vancies != null)
    {
        ls = ViewBag.Vancies;
    }
}

<!-- Contact Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="~/Content/Assets/Client/img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">@ViewBag.vacancy.name</h3>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@ViewBag.vacancy.jobnature</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@ViewBag.vacancy.salary</span>
                    </div>
                </div>

                <div class="mb-5">
                    @Html.Raw(@ViewBag.vacancy.description)
                </div>

                @if (ViewBag.Info != null)
                {
                    <h5>@ViewBag.Info</h5>
                }
                @if (ViewBag.cv_test == null)
                {
                    <div class="">
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p class="mb-4">You Send CV this here.</p>

                            <form action="/Home/SubmitSendCv" method="post" enctype="multipart/form-data">
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email" value="@ViewBag.Email" style="display:none">
                                            <input type="email" class="form-control" id="" name="" value="@ViewBag.Email" disabled>
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="concern_person" name="concern_person" value="@Model.concern_person">
                                            <label for="email">Concern Person</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="idvan" name="idvan" value="@ViewBag.id_van" style="display:none" >
                                            <input type="email" class="form-control" id="email" value="@ViewBag.nameVan"  disabled>
                                            <label for="email">Vacacy</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="file" name="link" id="link" class="form-control" value="" required>
                                            <label for="subject">Send CV</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                @if (ViewBag.cv_test != null)
                {
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p class="mb-4">Mỗi tài khoản chỉ được nộp cv ứng tuyển một lần.</p>
                        </div>
                    </div>
                }
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summery</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: @ViewBag.vacancy.updated_at</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: @ViewBag.vacancy.quantity_emp Position</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: @ViewBag.vacancy.jobnature</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: @ViewBag.vacancy.salary</p>
                    <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line: @ViewBag.vacancy.dateline_view</p>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>
                    <p class="m-0">Ipsum dolor ipsum accusam stet et et diam dolores, sed rebum sadipscing elitr vero dolores. Lorem dolore elitr justo et no gubergren sadipscing, ipsum et takimata aliquyam et rebum est ipsum lorem diam. Et lorem magna eirmod est et et sanctus et, kasd clita labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>